pipeline/PL_move_fr_azSQL_to_adls_Customer.json
{
	"name": "PL_move_fr_azSQL_to_adls_Customer",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * From Customer Where CustomerID = 101",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Input_Azure_SQL_Customer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Output_Azure_SQL_Customer",
						"type": "DatasetReference",
						"parameters": {
							"pram_filename": {
								"value": "@variables('V_filename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_filename",
					"value": {
						"value": "@concat(\n    'Customer_',\n    formatDateTime(utcNow(), 'MMddyyyy' ),\n    '.csv'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"V_filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-08T11:03:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}